.devtool-alert {
  width: 100%;
  height: 98vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.devtool-alert h1 {
  font-weight: 600;
  letter-spacing: 0.25rem;
  margin-bottom: 1rem;
}

.devtool-alert p {
  letter-spacing: 0.15rem;
}

.devtool-alert a {
  margin-top: 0.5rem;
  color: #f1f1f1;
  letter-spacing: 0.15rem;
  text-decoration: none;
  text-underline-offset: 0.15rem;
}

.devtool-alert a:hover {
  text-decoration: underline;
}
